.git
.gitignore
*.DS_Store
**/__pycache__
*.pyc
*.pyo
.idea
.log/*
.cache/*
test_examples
test_results/*
backend_cache
tmp_screenshot/*
agent/config/googleocr-config.json
yolov8n-oiv7.pt
run.sh
.DS_Store

# test_guithinker_fast.py
# agent\autopc_light.py